body{
    background:#08192d;
    color:white;
    font-family:'Segoe UI',sans-serif;
}

main{
    background:#08192d;
    min-height:100vh;
}

.sidebar{
    background:#061424;
    min-height:100vh;
    border-right:1px solid rgba(255,255,255,.08);
}

.sidebar h5{
    color:white;
    font-weight:bold;
}

.sidebar .nav-link{
    color:#b8d6ff;
    padding:12px 18px;
    border-radius:10px;
    margin-bottom:8px;
    transition:.3s;
}

.sidebar .nav-link:hover{
    background:#0d6efd;
    color:white;
}

.sidebar .active{
    background:#0d6efd;
    color:white;
}

.navbar{
    background:#0b2340 !important;
    border-bottom:1px solid rgba(255,255,255,.1);
}

.card{
    background:#102744;
    border:none;
    border-radius:18px;
    color:white;
    box-shadow:0 10px 30px rgba(0,0,0,.3);
}

input,
select{
    background:#102744!important;
    color:white!important;
    border:1px solid #1e4e80!important;
}

input::placeholder{
    color:#8faecf!important;
}